<!-- [ngStyle]="styles" -->

<!-- (click)="singleClick()"
(dblclick)="doubleClick()" -->

<button
  [ngClass]="{ opened: state === 'Open' }"
  [ngSwitch]="status"
  appDoubleClick
  (singleClick)="singleClick($event)"
  (doubleClick)="doubleClick($event)"
>
  <ng-container *ngSwitchCase="'Number'">
    {{ state === "Open" ? bombNeighboors : "n" }}
  </ng-container>
  <ng-container *ngSwitchCase="'Bomb'">b</ng-container>
  <ng-container *ngSwitchCase="'Empty'">e</ng-container>
  <ng-container *ngSwitchDefault>...</ng-container>
</button>
