.cell {
  color: black;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  height: 40px;
  width: 40px;
}

.opened {
  background-color: #ab6832;
}

.closed {
  background-color: #49281a;
}
