<!-- [ngStyle]="styles" -->
<!-- (click)="singleClick()"
(dblclick)="doubleClick()" -->

<button
  [ngClass]="{ opened: cell?.state === 'Open', closed: cell?.state !== 'Open' }"
  [ngSwitch]="cell?.status"
  appDoubleClick
  (singleClick)="singleClick($event)"
  (doubleClick)="doubleClick($event)"
>
  <ng-container *ngSwitchCase="'Number'">
    {{ cell?.state === "Open" ? cell?.bombNeighboors : "n" }}
  </ng-container>
  <ng-container *ngSwitchCase="'Bomb'">b</ng-container>
  <ng-container *ngSwitchCase="'Empty'">&nbsp;</ng-container>
  <ng-container *ngSwitchDefault>...</ng-container>
</button>
